.card {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-bottom: .5rem;
    border-bottom: 4px solid var(--color-border);
}

.card>header>h1 {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.card>header .ti,
.card>header .lnr {
    font-size: 1.4rem;
    color: var(--color-primary);
}

/* default */
.card[class~='![primary|secondary]'] {
    color: var(--color-dark);
}

.card>header .ti,
.card>header .lnr {
    color: var(--color-primary);
}

/* primary  */
.card.primary {
    color: white;
}

.card.primary time {
    color: white;
}

.card.primary>header .ti,
.card.primary>header .lnr {
    color: white;
}

/* secondary */
.card.secondary {
    color: white;
}

.card.secondary>header .ti,
.card.secondary>header .lnr {
    color: white;
}